@keyframes typeEffect {
	from {
	  width: 0;
	}
  }
  
  @keyframes cursorBlink {
	50% {
	  border-color: transparent;
	}
  }
  
  .typewriter-text {
	font-size: 50px;
	margin-top: 1em;
  }
  
  .typewriter-container {
	animation: typeEffect 3s steps(40) 2s forwards, cursorBlink 0.8s infinite;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
  }
    
.card {
	border: 1px solid #ccc;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
	transition: box-shadow 0.3s;
  }
  
  .card:hover {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card-img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	height: 450px;
	object-fit: cover;
  }
  
  .card-title {
	font-size: 1.25rem;
	font-weight: bold;
	margin-top: 10px;
  }
  
  .card-text {
	font-size: 1rem;
	color: #555;
  }
  
  /* Estilos para el contenedor principal */
  .container {
	padding: 20px;
  }
  
  /* Espaciado entre las tarjetas */
  .m-t-40 {
	margin-top: 40px;
  }
  
  /* Estilo para el spacer */
  .spacer {
	height: 40px; /* Ajusta la altura según tus preferencias */
  }
  
  /* Alineación del texto en las tarjetas */
  .text-center {
	text-align: center;
  }
  
  /* Estilo para el enlace en el spacer */
  #card-component a {
	color: #007bff; /* Cambia el color del enlace según tus preferencias */
	text-decoration: none;
	font-weight: bold;
  }
  
  #card-component a:hover {
	text-decoration: underline;
  }
  
.top{
  margin-top: 2em;
}


.btn{
	
}