@keyframes typeEffect {
	from {
	  width: 0;
	}
  }
  
  @keyframes cursorBlink {
	50% {
	  border-color: transparent;
	}
  }
  
  .typewriter-text {
	display: inline-block;
	font-size: 50px; /* Ajusta el tamaño del texto según sea necesario */
	white-space: nowrap;
	overflow: hidden;
  }
  
  .typewriter-container {
	animation: typeEffect 3s steps(40) 2s forwards, cursorBlink 0.8s infinite;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
  }
    
  .ui-card {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 650px;
	gap: 2em;
	overflow: hidden;
	transition: all 0.3s ease-out;
	background: radial-gradient(#176dee 50%, #000 100%);
	padding: 20px;
	width: 450px; 
  	height: 450px;
  }
  
.card-img{
	max-width: 100%; /* Asegura que la imagen no supere el ancho de la tarjeta */
	transition: all 0.3s ease-out;
	max-width: 100%; /* Asegura que la imagen no supere el ancho de la tarjeta */
	max-height: 100%; /* Limita la altura de la imagen */
	object-fit: scale-down; /* Escala la imagen para llenar el contenedor sin deformarla */		
  }
  
  .ui-card:hover img {
	transform: scale(0.9) translateY(-20px);
	opacity: 0.7;
  }
  
  .ui-card .description {
	display: flex;
	flex-direction: column; /* Alinea el contenido verticalmente */
	justify-content: flex-start; /* Alinea la descripción en la parte inferior */
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	gap: 1em;
  }
  
  .ui-card .description h3 {
	text-align: center;
	font-weight: 700;
	font-size: 32px;
	margin: 0 0 20px;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out;
	margin-top: 2em;
  }
  
  .ui-card .description p {
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.2s;
	text-align: center;
  }
  
  .ui-card .description a {
	color: #fff;
	background: #34aff3;
	display: inline-block;
	padding: 10px 25px;
	border-radius: 5px;
	text-decoration: none;
	transform: translateY(30px);
	opacity: 0;
	transition: all 0.3s ease-out 0.4s;
  }
  
  .ui-card .description a:hover {
	background: #21aaf3;
  }
  
  .ui-card:hover .description h3 {
	opacity: 1;
	transform: translateY(0px);
  }
  
  .ui-card:hover .description p {
	opacity: 1;
	transform: translateY(0px);
  }
  
  .ui-card:hover .description a {
	opacity: 1;
	transform: translateY(0px);
  }
  

.top{
  margin-top: 2em;
}